html {
    text-size-adjust: 100%;
}

body {
    margin: 0 font: 16px / 1 sans-serif;
    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTutpht58C3MNXdGpQn3PJOh253R-hW04Q8cFYxK_byqZZfxvW5Aw);

}

header {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    font-size: 40px;
}

.sec1 {
    width: 175px;
    height: 175px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
     margin-bottom: 55px;
    margin-top: -125px;
}

.one {
    display: flex;
    justify-content: center;
    /*margin-top: -50px;*/
}
.one p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  /*margin-bottom: -1px;*/
}
input {
  /*margin-bottom: 10px;*/
}
h1, h3, p {
  color: white;
}
h3 {
  letter-spacing: .5em;
}
